// FONT STYLES
$font-light: 100;
$font-thin: 300;
$font-regular: 400;
$font-bold: 700;

$font-lato: 'Lato', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// COLORS
$color-light: rgb(248, 249, 254);
$color-blue: rgb(72, 96, 255);
$color-blue-dark: rgb(30, 60, 255);
$color-green: rgb(19, 194, 155);
$color-dark: #1d1d1d;
$color-line: #ccc